<html>

<header>
  <link rel="stylesheet" href="../../assets/stylesheets/post_style.css">
</header>


<body>
<h1>Contact ID: <%= @appointment.id %></h1>
<% if @appointment.errors.any? %>
  <ul>
    <% @appointment.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<div id="container">
  <div class="form-wrap">
    <h1>Create New Contact Information</h1>
    <%= form_with model: @appointment do |form| %>
      <div class="form-group">
        <label for="first_namee">First Name</label>
        <%= form.text_field :first_name, placeholder: 'First Name' %>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <%= form.text_field :last_name, placeholder: 'Last Name' %>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <%= form.text_field :email, placeholder: 'Email Address' %>
        </div>
        <div class="form-group">
          <label for="cp_number">Contact Number</label>
          <%= form.text_field :cp_number, placeholder: '(09x)-xxxx-xxx' %>
        </div>
        <div class="form-group">
          <label for="cnum"> Service Status</label>
          <%= form.select(:service, options_for_select(['Medical Checkup', 'Medical Checkup' ]), ['Follow Up', 'Follow Up' ])%>
        </div>
        <div class="form-group">
          <label for="cnum"> Service Status</label>
          <%= form.select(:service, options_for_select(['Cash', 'Cash' ]), ['Credit/Debit Card', 'Credit/Debit Card'], ['Insurance', 'Insurance'])%>
        </div>
        <div class="form-group">
          <label for="cnum">Set Date</label>
          <%= form.date_select :date, start_year: 2000, end_year: Time.now.year %>
        </div>
        <div class="form-group">
          <label for="time">Set Time</label>
          <%= time_zone_select(:time) %>
        </div>
      </div>
      <%= form.submit 'Create new Info', class: 'btn-submit' %>
    <% end %>
  </div>
</div>

<div class="btn-warning marg-20"><%= link_to 'View List', medical_appointments_path %></div>

</body>
</html>