<html>

<header>
  <link rel="stylesheet" href="../../assets/stylesheets/post_style.css">
</header>


<body>

<div class="btn-warning"><%= link_to 'View List', medical_appointments_path %></div>


<% if @appointment.errors.any? %>
  <ul>
    <% @appointment.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<div id="container">
  <div class="form-wrap">
    <h1>Create New Contact Information</h1>
    <%= form_with model: @appointment do |form| %>
      <div class="form-group">
        <label for="first_namee">First Name</label>
        <%= form.text_field :first_name, placeholder: 'First Name' %>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <%= form.text_field :last_name, placeholder: 'Last Name' %>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <%= form.text_field :email, placeholder: 'Email Address' %>
        </div>
        <div class="form-group">
          <label for="cp_number">Contact Number</label>
          <%= form.text_field :cp_number, placeholder: '(09x)-xxxx-xxx' %>
        </div>
        <div class="form-group">
          <label for="service"> Service Type</label>
          <div style="border: #2E2F30 solid; width: 40%; border-radius: 40px">
                 <p style="padding: 10px 5px; margin: 3px; width: 300px;">Medical Check-up / Consultation<%= radio_button_tag(:service, "Medical Check-up / Consultation") %> </p>
                 <p style="padding: 3px; margin: 3px; width: 300px;">Follow Up<%= radio_button_tag(:service, "Follow up") %></p>
          </div>
        </div>
        <div class="form-group">
          <label for="cnum"> Payment  Method</label>
          <%= select_tag(:payment, options_for_select(['1', 'asd'], ['2', 'asd']))%>
        </div>
        <div class="form-group">
          <label for="cnum">Set Date</label>
          <%= form.date_select :date, start_year: 2000, end_year: Time.now.year %>
        </div>
        <div class="form-group">
          <label for="time">Set Time</label>
          <%= form.text_field :time, value: '12:00' %>
        </div>
      </div>
      <%= form.submit 'Create new Info', class: 'btn-submit' %>
    <% end %>
  </div>
</div>

<div class="btn-warning marg-20"><%= link_to 'View List', medical_appointments_path %></div>
</body>

</html>