<h1>Patient's Personal Info</h1>
<h2>Patient ID: <%= @appointment.id %></h2>
<ul>
  <li><%= @appointment.first_name %></li>
  <li><%= @appointment.last_name %></li>
  <li><%= @appointment.email %></li>
  <li><%= @appointment.cp_number %></li>
  <li><%= @appointment.service %></li>
  <li><%= @appointment.payment %></li>
  <li><%= @appointment.time %></li>
  <li><%= @appointment.date %></li>
</ul>

<div class="btn-warning"><%= link_to 'Index', medical_appointments_path %></div>