<h1>Title <%= @post.fname %></h1>

<h2>Comments</h2>

<ul>

  <% @comments.each do |comment| %>

    <li><%= comment.fname %>(<%= comment.created_at %>)</li>
    <li> <%= comment.email %>(<%= comment.created_at %>) </li>
    <%= link_to 'edit', edit_post_comment_path(@post, comment) %>
  <% end %>

</ul>




